.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.transparent-toolbar {
  color: aliceblue;
  background-color: transparent;
}

.toolbar {
  color: aliceblue;
  background-color: rgba(128, 0, 128, 0.2);
}
