<p>
  <mat-toolbar class="toolbar">
    <span>Donnie Dash</span>
  </mat-toolbar>
</p>
<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    <div fxLayout="column">
      <mat-toolbar class="transparent-toolbar">
        <span [textContent]="tile.text"></span>
      </mat-toolbar>

      <div fxLayoutAlign="center">
        <a mat-flat-button color="primary" [href]="tile.link" target="_blank">Ir</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet/>
